@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* fonts */
    --primary-font: 'Poppins', sans-serif;

    /* colors */
    --gray-blue: #3D5A80;
    --dark-gray-blue: #293241;
    --light-gray-blue: #98C1D9;
    --desaturated-light-gray-blue: #E0FBFC;
    --fire-orange: #EE6C4D;
    --light-gray: #DDDDDD;

    /* other colors */
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */