@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

/* ------------- *
 *   CSS Reset   *
 * ------------- */
*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    font-family: var(--primary-font);
    font-weight: 400;
}

/* ---------- *
 *   GLOBAL   *
 * ---------- */
:root {
    /* fonts */
    --primary-font: 'Poppins', sans-serif;

    /* colors */
    --gray-blue: #3D5A80;
    --dark-gray-blue: #293241;
    --light-gray-blue: #98C1D9;
    --desaturated-light-gray-blue: #E0FBFC;
    --fire-orange: #EE6C4D;
    --light-gray: #DDDDDD;

    /* other colors */
    --white-col: white;
}

/* ----------- *
 *   UTILITY   *
 * ----------- */
.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.text-center {
    text-align: center;
}

.borderless {
    border: none !important;
}

.outlineless {
    outline: none;
}

/* -------- *
 *   FLEX   *
 * -------- */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.grow-1 {
    flex-grow: 1;
}

.flex.align-space-between {
    align-items: space-between;
}

.flex.justify-space-between {
    justify-content: space-between;
}

/* -------- *
 *   GRID   *
 * -------- */
.grid {
    display: grid;
}

/* --------------- *
 *   FLEX / GRID   *
 * --------------- */
.align-center:is(.flex, .grid) {
    align-items: center;
}

.justify-center:is(.flex, .grid) {
    justify-content: center;
}

.gap-2rem {
    gap: 2rem;
}

.gap-4rem {
    gap: 4rem;
}

/* --------------- *
 *   APPLICATION   *
 * --------------- */
nav {
    padding: 0.75rem 3rem 0.75rem 5rem;
    background-color: var(--light-gray-blue);
}

nav a {
    color: var(--dark-gray-blue);
    font-size: 1.8rem;
    text-decoration: none;
}

.nav-items-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-title {
    font-size: 4.5rem;
    font-weight: 400;
}

.nav-title > span {
    color: var(--white-col);
    font-weight: 600;
}

.nav-item:is(.signup, .login) {
    padding: 0.5rem 4rem;
}

.nav-item.signup {
    border: 2px solid var(--white-col);
    border-radius: 0.5rem;
}

.landing-hero {
    padding: 3rem 3rem 7rem 5rem;
    background: url('@public/images/landing-learn-together.svg'),
                radial-gradient(circle at 20% 170%, var(--fire-orange) 80rem, rgba(0, 0, 0, 0) 0);
    background-size: 63%, auto;
    background-repeat: no-repeat;
    background-position: right;
}

.landing-hero h2 {
    font-size: 4rem;
    font-weight: 600;
    max-width: 55rem;
    color: var(--white-col);
}

.landing-hero p {
    font-size: 1.85rem;
    max-width: 50rem;
    color: var(--white-col);
}

.landing-hero button {
    max-width: 15rem;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--white-col);
    border-radius: 0.5rem;
    background-color: var(--gray-blue);
}